body {
  /*insert general body style here*/
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  color:#010440;
}

li {
  font-weight: 300;
}

h5, h6, strong {
  font-weight: 700;
}

/* unvisited link */
a:link {
  color:black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: navy;
}

/* selected link */
a:active {
  color: yellow;
}

.nav_item {
  display:inline-block;
}

.sectionbox {
  border-bottom: 1px dotted #010440;
}

#media {
  /*background-color: rgba(255,255,0,0.4);
  border-top: 2px dotted #010440;
  border-left: 2px dotted #010440;
  border-right: 2px dotted #010440;
  border-bottom: 0px;
  border: 1px solid #010440;
  padding: 5px;*/
}

#professional {
  /*background-color: rgba(0,255,0,0.4);
  border-top: 2px dotted #010440;
  border-left: 2px dotted #010440;
  border-right: 2px dotted #010440;
  border-bottom: 0px;
  border: 1px solid #010440;
  padding: 5px;*/
}

#education {
  /*background-color: rgba(0,0,255,0.4);
  border-top: 2px dotted #010440;
  border-left: 2px dotted #010440;
  border-right: 2px dotted #010440;
  border-bottom: 2px dotted #010440;
  border: 1px solid #010440;
  padding: 5px;*/
}

#skills {
  /*background-color: rgba(255,0,0,0.4);
  border-top: 2px dotted #010440;
  border-left: 0px;
  border-right: 2px dotted #010440;
  border-bottom: 0px;
  border: 1px solid #010440;
  padding: 5px;*/
}

#clips {
  /*background-color: rgba(255,100,0,0.4);
  border-top: 2px dotted #010440;
  border-left: 0px;
  border-right: 2px dotted #010440;
  border-bottom: 2px dotted #010440;
  border: 1px solid #010440;
  padding: 5px;*/
}

#social-share {
  /*background-color: rgba(255,100,0,0.4);
  border-top: 2px dotted #010440;
  border-left: 2px dotted #010440;
  border-right: 2px dotted #010440;
  border-bottom: 2px dotted #010440;
  border: 1px solid #010440;
  padding: 5px;*/
}

.sectionhead {
  margin-top:10px;
  margin-left: 5px;
  width:100%;
  color: #020659;
}

/*.sectionhead_left {
  margin-top:10px;
  width:100%;
  color: #020659;
}

.sectionhead_right {
  text-align:center;
  margin-top:10px;
  width:100%;
  color: #020659;*/
}

@media screen and (max-width: 768px) {

  .sectionhead {
    text-align:center;
    margin-top:10px;
    width:100%;
    color: #020659;
  }

  /*#media {
    border: 2px dotted #010440;
  }

  #professional {
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 2px dotted #010440;
  }

  #education {
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 1px dotted #010440;
  }

  #skills {
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 2px dotted #010440;
  }

  #clips {
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 2px dotted #010440;
  }

  #social-share {
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 2px dotted #010440;
  }

  .sectionhead_left {
    text-align:center;
    margin-top:10px;
    margin-left: 10px;
    width:100%;
    color: #020659;
  }*/

}

#head_banner {

}

#main_grid {
  margin-top: 40px;
}

.icon {
  /*color:hsl(60,50%,50%);*/
  color:#F2E963;
}

.description {
  margin-right: 10px;
  font-weight: 200;
}

.clip-li {
  margin-right: 20px;
}

.education-list {
  margin-left:10px;
  margin-right: 20px;
}

.page-footer {
    display:block;
}

.footer-list {
  background-color:rgba(0,0,0,.25);
  height:25px;
  text-align:center;
}

.footer-li {
  display:inline-block;
  font-size:16px;
  vertical-align:middle;
}
