body {
  /*insert general body style here*/
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  color:#010440;
}

strong {
  font-weight:700;
}

.nav_item {
  display:inline-block;
}

#media {
  /*background-color: rgba(255,255,0,0.4);*/
  border-top: 2px dotted #010440;
  border-left: 2px dotted #010440;
  border-right: 2px dotted #010440;
  border-bottom: 0px;
}

#professional {
  /*background-color: rgba(0,255,0,0.4);*/
  border-top: 2px dotted #010440;
  border-left: 2px dotted #010440;
  border-right: 2px dotted #010440;
  border-bottom: 0px;
}

#education {
  /*background-color: rgba(0,0,255,0.4);*/
  border-top: 2px dotted #010440;
  border-left: 2px dotted #010440;
  border-right: 2px dotted #010440;
  border-bottom: 2px dotted #010440;
}

#skills {
  /*background-color: rgba(255,0,0,0.4);*/
  border-top: 2px dotted #010440;
  border-left: 0px;
  border-right: 2px dotted #010440;
  border-bottom: 0px;
}

#clips {
  /*background-color: rgba(255,100,0,0.4);*/
  border-top: 2px dotted #010440;
  border-left: 0px;
  border-right: 2px dotted #010440;
  border-bottom: 2px dotted #010440;
}

@media screen and (max-width: 775px) {
  #media {
    /*background-color: rgba(255,255,0,0.4);*/
    border: 2px dotted #010440;
  }

  #professional {
    /*background-color: rgba(0,255,0,0.4);*/
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 2px dotted #010440;
  }

  #education {
    /*background-color: rgba(0,0,255,0.4);*/
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 2px dotted #010440;
  }

  #skills {
    /*background-color: rgba(255,0,0,0.4);*/
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 2px dotted #010440;
  }

  #clips {
    /*background-color: rgba(255,100,0,0.4);*/
    border-top: 0px;
    border-left: 2px dotted #010440;
    border-right: 2px dotted #010440;
    border-bottom: 2px dotted #010440;
  }
}

#head_banner {

}

#main_grid {
  margin-top: 40px;
}

.sectionhead_left {
  margin-top:10px;
  width:100%;
  color: #020659;
}

.sectionhead_right {
  text-align:center;
  margin-top:10px;
  width:100%;
  color: #020659;
}

.icon {
  /*color:hsl(60,50%,50%);*/
  color:#F2E963;
}

/*#microphone {
  color:#F2E963;
}

#briefcase {
  color:#F2E963;
}

#grad-cap {
  color:#F2E963;
}

#bolt {
  color:#F2E963;
}

#newspaper {
  color:#F2E963;
}*/

.description {
  margin-right: 10px;
}

.clip-li {
  margin-right: 20px;
}

/* unvisited link */
a:link {
  color:black;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: navy;
}

/* selected link */
a:active {
  color: yellow;
}

.page-footer {
    display:block;
}

.footer-list {
  background-color:rgba(0,0,0,.25);
  height:25px;
  text-align:center;
}

.footer-li {
  display:inline-block;
  font-size:16px;
  vertical-align:middle;
}
