body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
}

h1 {
  color: #33485e;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #ffffff;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
}

strong {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}
