/*styles for my resume!*/

/*default text styles*/
body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
}

/*name at top*/
/*adjusted: originally h1*/
#name {
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  color: #33485e;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

/*section headers*/
/*adjusted: originally h2*/
.sectionheader {
  margin: 20px 0px 10px 0px;
  width: 70%;
  min-width: 300px;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #ffffff;
}

/*job titles*/
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/*job organizations*/
h4 {
  font-weight: 400;
  font-size: 1.5em;
}

/*job dates*/
h5 {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}

/*listed items: contact, education, skills*/
li {
  font-size: 1em;
}

/*title at top*/
strong {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}
