body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-right:50%;
}

.red {
  color: #870000;
}

.graphic-container {
  width: 100%;
  padding-top:15px;
  padding-bottom:15px;
  border-top:1px dashed #cdcdcd;
  border-bottom:1px dashed #cdcdcd;
  margin-top: 30px;
  margin-bottom: 30px;
}

.graphic-container h2 {
  font-size: 1.5em;
  color:#BA0000;

}

.attribution {
  padding-top: 10px;
  margin-bottom: 0;
  font-size: .8em;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  text-align: center;
}

.nav-link:hover {
  color: #BA0000 !important;
}

.navbar {
 font-family: 'Raleway', Helvetica, Arial, sans-serif; !important;
}

.navbar-brand {
  font-family: 'Raleway', Helvetica, Arial, sans-serif; !important;
  color: #fff; !important;
  font-size: 1.25em; !important;
}

.hero-image {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.byline {
  font-size: 1.15em;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.container {
  width: 90%;
}

p {
  text-align: left;
  line-height: 150%;
}

p.photocaption {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  font-size: .85em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  width: 80%;
  max-width: 1000px;
  padding-bottom: 10px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  padding-top: 10px;
}

img.heroimage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 95%;
  max-width: 1600px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* .chapter {
  border-left: 1px dashed;
  border-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
} */

.divider {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  color: #BA0000;
}

.chapter-headline {
  font-family: 'PT Serif', Georgia, serif;
  font-size: 1.5em;
  font-weight: 700;
  /* font-style: italic; */
  padding-top: 20px;
  width: 100%;
  color: #870000;
  margin-bottom: 20px;
}

.chaptertext {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #000;
}

#pagefooter {
  height: 50px;
  padding-bottom: 0px;
  width: 100%;
  background-color: #000;
  position: absolute;
  margin-bottom: 0px;
  padding-top: 15px;
  margin-top: 25px;
  display: block;
}

#pagefooter p {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color:#fff;
}

/* Photo Gallery CSS. Credit: W3Schools */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.photo-gallery {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
